# ==========================================
# Entorno y Configuración
# ==========================================
.agent/
.env
.env.*
!.env.example

# ==========================================
# macOS & SO
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# ==========================================
# IDEs & Editores
# ==========================================
.vscode/
.idea/
*.swp
*.swo

# ==========================================
# Go (Golang)
# ==========================================
/bin/
/obj/
*.test
go.work
go.work.sum

# ==========================================
# Zig & C/C++
# ==========================================
/core/.zig-cache/
/core/zig-out/
*.o
*.a
*.so
*.dylib

# ==========================================
# DeraineDB Datos Locales y Logs
# ==========================================
*.drb
*.log
